.container {
  display: flex;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  max-width: 900px;
  min-height: 600px;
  padding: 20px;
}

.signup-form-wrapper {
  flex: 1;
}

.signup-form-image-wrapper {
  flex: 1.5;
}

.signup-form {
  display: flex;
  flex-direction: column;
}

.upload-photo-label {
  text-align: center;
  cursor: pointer;
}

.btn-wrapper {
  display: flex;
}

.btn-submit {
  background-color: rgb(68, 68, 236);
}

.btn-reset {
  background-color: rgb(222, 66, 66);
}
